/*les couleurs à utiliser*/
/*#6DFFE4 #107F6A #1ACCAB*/



/************** BODY  */
/******************** css appliquez a toute les page*/
body
{
	font-family: "Quicksand", "regular";
	font-size:	1.15rem;
}
/* taille site*/
.bodyContainer
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}	
h1, h2, h3
{
	font-family: "quicksand", medium;
}

h2
{
	color: #107F6A;
	margin-bottom: 4%;
	font-size: 2rem;
}
h3
{
	font-size: 1.8rem;
}
/*********************************************************************** PAGE ACCUEIL ***/
/* HEADER */
header
{
	margin-bottom: 3%;
}
/*  nav */
nav
{
	background: #1ACCAB;
}
.headerNav>a
{
	color: #107F6A;
}
.headerNav a:hover
{
	color: white;
	font-weight: bold;
}
nav a
{
	color:black;
}
/* fin nav */
/* div title */
.headerImage
{
	background-image: url("../img/bg-stop-aux-violences-contre-les-femmes.jpg");
	background-repeat: no-repeat;
	background-size:  cover;
	background-color:  #000;
	padding: 5% 15% 30% 0;
}
.headerImage>h1
{
	color: white;
	font-size: 4rem;
}
/* fin title */ /**  fin HEADER */
/* *****************  MAIN ******************** */
main>div
{
	margin-bottom: 5%;
}
/* citations */
.citations
{
	margin-bottom: 3%;
}
.citations>div
{
	width: 50%;
	border-color: #107F6A;
}
.citations>div>img
{
	width: 22%;
    padding: 3%;
}
.citations>div>div
{
	width: 50%;
	color: #107F6A;
}
/* Objectifs */
.mainCardObject
{
	text-transform: capitalize;
}
.mainCardObject>div
{
	margin-top: 2%; 
}
.mainCardObject h3
{
	font-weight: bold;
}
.mainCardObject>div>div
{
	background: #6DFFE4;
	border: 2px solid #000000;
}
/* main Slider */
/*.............*/
/* card contact */
.cardImage
{
	width: 50%;
	padding: 2% 5% 2% 5%;
	text-transform: capitalize;
	text-align: center;
}
.cardContactRow>div>div>div>img
{
	width: 80%;
}
.cardContactTitle
{
	color: #107F6A;
}
.cardContactRow>div
{
	margin-top: 2%; 
}
/********     VIDEO         deja responsive  ************/
.video-container 
{
	position: relative;
	padding-bottom: 33%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,  
.video-container object,  
.video-container embed
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*-*********************************************************************  fin page ACCUEIL */
/*Page contact - provisoire*/

/*.body>h1
{
	margin-left: 150px;
    margin-right: 150px;
    font-family: quicksandmedium;
    font-size: 35px;
    text-transform: uppercase;
}
.btn
{
	font-family: quicksandregular;
	font-size: 25px;
	text-align: center;
}
/*CSS CONTACT*/
#btnEnvoyer
{
	color: white;
	background-color: #107F6A;
	border-color: none;
}

.colonne2{
	display: flex;
	align-items: center;
}

.colonne21{
	list-style: none;
}

.colonne1{
	margin-top: 50px;
}

.form-control{
	background-color: #F0F0F0;
}

.bouton{
	text-align: right;
}

/******HISTORIQUE**********************************************CSS HISTORIQUE***/
hr{
	width: 80%;
}

.main0{
	background-image: url("../img/solidarites-femme.jpg");
	background-repeat: no-repeat;
	background-size:  cover;
	background-color:  #000;
	padding: 5% 15% 30% 0;
}
.main0>h1
{
	color: white;
	font-size: 4rem;
	margin-left: 50px;
}	
	/*CSS CONTACT*/
	#btnEnvoyer{
		color: white;
		background-color: #107F6A;
		border-color: none;
	}
	
	.colonne2{
		display: flex;
		align-items: center;

	}
	
	.colonne21
	{
		list-style: none;
	}
	
	.colonne1{
		margin-top: 10px;
		display: flex;
		justify-content: center;
	}
	
	.form-control{
		background-color: #F0F0F0;
	}
	
	.bouton{
		text-align: right;
	}


	
	/*CSS HISTORIQUE**************************/
	hr{
		width: 80%;
	}


#listLogoP2{
	text-align: center;
}

/*image haut*/
#imgHaut{
background-image: center;
}

/*img groupe*/
.fotoGroupe{
	text-align: center;
	margin-bottom: 50px;
}

/*les paragraphes*/
.paragraphe{
	text-align: justify;
}

.paragraphe2{
	margin: 20px auto 20px auto;
	padding : 20px 20px 10px 20px;
	width: 600px;
  	border-style: solid;
  	border-color:#1ACCAB;
 	border-width: 2px;
	list-style: none;
	text-align: center;
}

.vertGras{
	color: #107F6A;
	font-weight: bold ;
}

.doc{
	display: flex;
	justify-content: space-around;
}

/*les partenaires */
.listLogoP2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.partenaires{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	list-style: none;
}
 /**HISTORIQUE**********************************************FIN CSS HISTORIQUE**/
/**css liens utiles*****************************************************/
.media-liens>img
{
    background-color: gray;
    
    height: 50px;
}

.info-liens>h1
{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.918);
  padding-bottom: 50px;
}
 
.card-liens
{
 border: 0;
 align-items: center;
}

.media-liens
{
    height: 112px;
}

.card-body-liens
{
    text-align: center;
	background-color:rgba(255, 255, 255, 0.918) ;
	
}


.card-body-liens>a 
{
	color: rgb(146, 144, 144);
}


.card-body-liens>p
{
	color: rgb(146, 144, 144);
}


/*fin css liens utiles*/

 /***FOOTER*********************************************************************FOOTER*/
footer
{
	background-color: #E0E0E0;
	padding: 20px;
}

footer .containerFooter
{
	font-family: "Quicksand", "regular";
	font-size:	0.8rem;
}

footer h3
{
	font-family: "quicksand";
	font-size:	1rem;
	font-weight: bold;
}

.containerFooter button
{
width: 35px;
height: 35px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
margin-top: 10px;
}

.containerFooter a
{
	color: black;
}

.copyright
{
	font-size:	0.8rem;
	text-align: center;
}
/****FIN FOOTER*******************************************************************FIN FOOTER*/

.info-liens>h1
{
  text-align: center;
}

.media
{
    height: 112px;
}
.carteLien
{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.918) ;
}
/*fin css liens utiles*******************************/

/*********************        TRAVAUX */
.main0Image
{
	background-image: url("../img/bg-force-de-filles.png");
	background-repeat: no-repeat;
	background-size:  cover;
	background-color:  #000;
	padding: 5% 15% 30% 0;
}
.main0Image>h1
{
	color: white;
	font-size: 4rem;
}
/* X Small ( phones, 576px and down) */
@media (max-width: 576px) 
{ 
	.mainHeader>nav
	{
		flex-direction: column;
	}
	.mainHeader>nav>ul
	{
		flex-direction: column;
	}
	.citations>div 
	{
		width: 80%;
	}
	.citations>div>div 
	{
		width: 100%;
	}
	.citations>div>img
	{
		width: 12%;
		padding: 2% 0 0 0;
	}
}
 /* Small devices (landscape phones, 576px and up) */

@media (max-width: 768px) 
{ 
	.citations>div 
	{
		width: 80%;
	}
	.citations>div>div 
	{
		width: 100%;
	}
	.citations>div>img
	{
		width: 24%;
		padding: 3% 0 0 0;
	}
	/* card contact */
	.cardImage>img 
	{		
		width: 70%;
	}
	.cardContactRow>div
	{
    flex-direction: column !important;
	}
	.cardImage
	{
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}
 /* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) 
{ 
	/* PAGE ACCUEIL */
	.bodyContainer
	{
		width: 100%;
	}
	/* header */
	.mainHeader>nav
	{

	}
	/* citations */
	.citations>div 
	{
		width: 70%;
	}
	.citations>div>img
	{
		width: 24%;
		padding: 3%;
	}
}}