/* BODY 
 /* DIV CONTAINER */
/* mettredans la repsonsive la width de 1400px */

.navbar
{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px; 
}


/*les paragraphes*/
.paragraphe{
	text-align: justify;
}

.vertGras{
	color: #107F6A;
	font-weight: bold ;
}

/*******************************************************/


/* HEADER */
/*  nav */
